<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXDoBUdvFr-UofBt_pSHv4lOU92GhWCic</string>
	<key>GCM_SENDER_ID</key>
	<string>264323560909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jensm.MarvelAppIosDev</string>
	<key>PROJECT_ID</key>
	<string>marvelapp-82221</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelapp-82221.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264323560909:ios:a4e972f6b1cbd8ef478084</string>
</dict>
</plist>